<!doctype html>
<html
        lang="en" xmlns:th="http://www.thymeleaf.org"
        th:replace="~{base::layout(~{::section})}"><head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <section>
       <div class="container-fluid mt-5 p-5">

           <div class="row">
               <p class="text-center fs-3">All Orders</p>
               <hr>
               <a href="/admin/" class="text-decoration-none"><i class="fa-solid fa-arrow-left"></i> Back</a>
               <th:block th:if="${session.succMsg}">
                   <p class="text-success fw-bold">[[${session.succMsg}]]</p>
                   <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
               </th:block>

               <th:block th:if="${session.errorMsg}">
                   <p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
                   <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
               </th:block>

<!--               <th:block th:if="${session.errorMsg}">-->
<!--                   <p class="text-danger fs-5 fw-bold text-center">[[${session.errorMsg}]]</p>-->
<!--                   <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>-->
<!--               </th:block>-->

               <div class="col-md-4 p-4 mt-1">
                   <form action="/admin/search-product" method="get">
                       <div class="row">
                           <div class="col">
                               <input type="text" class="form-control" name="keyword" placeholder="Enter product">
                           </div>

                           <div class="col">
                               <input type="submit" class="btn btn-primary col" value="Search">
                           </div>
                       </div>
                   </form>
               </div>


<!--               <div class="card card-sh">-->
<!--              -->
<!--                   <div class="p-2 card-sh">-->
                       <table class="table table-bordered">
                           <thead class="table-light">
                           <tr>
                               <th scope="col">Sl No</th>
                               <th scope="col">Image</th>
                               <th scope="col">Title</th>
                               <th scope="col">Category</th>
                               <th scope="col">Price</th>
                               <th scope="col">Discount</th>
                               <th scope="col">Discount Price</th>
                               <th scope="col">Status</th>
                               <th scope="col">Stock</th>
                               <th scope="col">Action</th>
                           </tr>
                           </thead>

                               <tbody>
                               <th:block th:if="${productsSize > 0 || !products.isEmpty()}">

                               <tr th:each="pro,c:${products}">
                                           <th scope="row">[[${c.count}]]</th>
                                           <td><img width="50px" height="66px" th:src="@{'/img/product_img/' + ${pro.image}}" alt=""></td>
                                           <td>[[${pro.title}]]</td>
                                           <td>[[${pro.category}]]</td>
                                           <td>[[${pro.price}]]</td>
                                           <td>[[${pro.discount}]]</td>
                                           <td>[[${#numbers.formatDecimal(pro.discountPrice, 1, 2)}]]</td>
                                           <td>[[${pro.isActive}]]</td>
                                           <td>[[${pro.stock}]]</td>
                                           <td>
                                               <a th:href="@{'/admin/editProduct/' + ${pro.id}}" class="btn btn-primary btn-sm fa-2x"><i class="fa-solid fa-pen-to-square fa-1x"></i>Edit</a>

                                               <a th:href="@{'/admin/deleteProduct/' + ${pro.id}}"  class="btn btn-danger btn-sm fa-2x"><i class="fa-solid fa-trash fa-1x"></i>Delete</a>
                                           </td>
                                       </tr>
                               </th:block>
                               <td colspan="10"> <th:block th:unless="${productsSize > 0 || !products.isEmpty()}">
                                   <p class="text-center fs-3 text-danger">This product is empty, please enter another product</p>
                               </th:block></td>


                               </tbody>



                       </table>

               <div class="row">
                   <th:block th:if="${totalElements > 0}">
                       <div class="col-md-4">Total Products : [[${totalElements}]] </div>
                   </th:block>

                   <th:block th:if="${totalElements==null}">
                       <div class="col-md-4">Total Products : [[${products.size()}]] </div>
                   </th:block>

                   <div class="col-md-6">
                       <th:block th:if="${productsSize >0 }">
                           <nav aria-label="Page navigation example">
                               <ul class="pagination">
                                   <li class="page-item">
                                       <a class="page-link" th:classappend="${isFirst} ? 'disabled' : ''" th:href="@{'/admin/products?pageNo=' + ${pageNo - 1}}" aria-label="Previous">
                                           <span aria-hidden="true">&laquo;</span>
                                       </a>
                                   </li>

                                   <li th:each="i:${#numbers.sequence(1, totalPages)}" class="page-item" th:classappend="${pageNo + 1==i} ? 'active' : ''">
                                       <a class="page-link" th:href="@{'/admin/products?pageNo=' + ${i - 1}}">[[${i}]]</a></li>
                                   <!--                                        <li class="page-item"><a class="page-link" href="#">2</a></li>-->
                                   <!--                                        <li class="page-item"><a class="page-link" href="#">3</a></li>-->
                                   <li class="page-item">
                                       <a class="page-link" th:classappend="${isLast} ? 'disabled' : ''" th:href="@{'/admin/products?pageNo=' + ${pageNo + 1}}" aria-label="Next">
                                           <span aria-hidden="true">&raquo;</span>
                                       </a>
                                   </li>
                               </ul>
                           </nav>
                       </th:block>
                   </div>
               </div>
<!--                   </div>-->
<!--               </div>-->

<!--               <th:block th:unless="${productsSize > 0 || !products.isEmpty()}">-->
<!--                   <p class="fs-4 text-center mt-4 text-danger">Product not available</p>-->
<!--               </th:block>-->

<!--               <th:block th:if="${productsSize <= 0 || products==null}">-->
<!--                   <p class="text-center fs-3 text-danger">This product is empty, please enter another product</p>-->
<!--               </th:block>-->
           </div>
       </div>

    </section>
</body>
</html>