<!doctype html>
<html
        lang="en" xmlns:th="http://www.thymeleaf.org"
        th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<section>
    <div class="container mt-5 p-5">
        <div class="row">
            <div class="col-md-4 p-5">
                <img src="https://substack-post-media.s3.amazonaws.com/public/images/247079c8-e7c3-4034-bf76-bc7b4bffcd5a_1024x600.png" alt="" width="100%" height="400px">
            </div>
            <div class="col-md-8 mt-3 p-5">
                <div class="card shadow p-3 mb-5 bg-body rounded">
                    <div class="card-header text-center">
                        <p class="fs-4 text-center">Register</p>
                        <th:block th:if="${session.succMsg}">
                            <p class="text-success fs-5 fw-bold">[[${session.succMsg}]]</p>
                            <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                        </th:block>

                        <th:block th:if="${session.errorMsg}">
                            <p class="text-danger fs-5 fw-bold">[[${session.errorMsg}]]</p>
                            <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                        </th:block>
                    </div>
                    <div class="card-body">


                        <form action="/saveUser" method="post" enctype="multipart/form-data" th:object="${user}">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="form-label">Full Name</label>
                                    <input class="form-control" type="text" th:field="*{name}">
                                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></p>
                                </div>

                            <div class="col-md-6">
                                <label class="form-label">Mobile Number</label>
                                <input class="form-control" type="number" th:field="*{mobileNumber}">
                                <p th:if="${#fields.hasErrors('mobileNumber')}" th:errors="*{mobileNumber}" class="text-danger"></p>
                            </div>
                            </div>


                            <div class="col-md-12">
                                <label class="form-label">Email</label>
                                <input class="form-control" type="email" th:field="*{email}" required>
                                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></p>

                            </div>

                            <div class="row">
                                <div class="col">
                                    <label class="form-label">Address</label>
                                    <input class="form-control" type="text" th:field="*{address}">
                                    <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="text-danger"></p>
                                </div>

                                <div class="col">
                                    <label class="form-label">City</label>
                                    <input class="form-control" type="text" th:field="*{city}">
                                    <p th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="text-danger"></p>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col">
                                    <label class="form-label">State</label>
                                    <input class="form-control" type="text" th:field="*{state}">
                                    <p th:if="${#fields.hasErrors('state')}" th:errors="*{state}" class="text-danger"></p>
                                </div>

                                <div class="col">
                                    <label class="form-label">Pin code</label>
                                    <input class="form-control" type="number" th:field="*{pincode}">
                                    <p th:if="${#fields.hasErrors('pincode')}" th:errors="*{pincode}" class="text-danger"></p>
                                </div>

                            </div>



                            <div class="row">

                                <div class="col">
                                        <label class="form-label">Password</label>
                                        <input class="form-control" type="password" th:field="*{password}">
                                    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></p>
                                </div>

                                <div class="col">
                                    <label class="form-label">Confirm Password</label>
                                    <input class="form-control" type="password" name="cpassword" required>
                                </div>
                            </div>


                                <div class="col-md-12">
                                    <label class="form-label">Profile Image</label>
                                    <input class="form-control" type="file" name="img">
                                </div>





                            <button type="submit" class="btn bg-primary text-white col-md-12 mt-3">Register</button>
                        </form>
                    </div>

                    <div class="card-footer text-center">
                      Do you have an account ? <a class="text-decoration-none" href="/login">Login</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>



</body>
</html>